<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    {% include "header.html" %}
    <title>Index</title>
</head>

<body>
    <div class="container">
        {% include "navigation.html" %}
        {% verbatim %}
        <div class="col-lg-12" style="border-style: solid;border-width:0.5px;border-color: #c7c4b9">
          <div ng-app="restapi.app" ng-controller="AppController">
            <div class="panel" ng-repeat="place in places">
              <div class="panel-heading clearfix">
                <h2 class="panel-title">{{ place.name }}</h2>
                <h6 class="panel-title"><span>Latitud: {{ place.lat }}</span></h6>
                <h6 class="panel-title"><span>Longitud: {{ place.longi }}</span></h6>
              </div>
            </div>
          </div>
        </div>
        {% endverbatim %}
    </div>
</body>
</html>
