<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    {% include "header.html" %}
    <link rel="stylesheet" href="{% static "css/form.css" %}">
    <title>Place form</title>
</head>
<body>
    {% include "navigation.html" %}
    <form class="form-group" action="{{ request.get_full_path }}" method="post" id="form" role="form">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="form-group row">
          <button id="add-button" type="submit" class="btn btn-primary">Add</button>
        </div>
    </form>
</body>
</html>
